.home__social-profile-content,
.home__social,
.home__img {
    display: flex;
}

.home__social-profile {
    width: 100%;
    margin: var(--m-16);
}

.home__social-profile-content {
    flex-wrap: nowrap;
    justify-content: center;
}

.home__social {
    flex-direction: column;
    width: var(--m-32);
    justify-content: center;
    align-items: center;
    margin-left: var(--m-8);
}

.icon__social {
    font-size: var(--m-32);
    color: var(--color_primary);
    margin: var(--m-24) 0;
}

.home__img {
    /*    border: 1px solid yellow;*/
    width: 18.75rem;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
}

.home__frame {
    width: 13.125rem;
    height: 13.125rem;
    border-radius: 50%;
    border-right: 1px solid #af4bce;
    border-left: 3px solid #d302a5;
    border-top: 2px solid #c333bb;
    position: absolute;
    z-index: 10;
    animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.home__frame-img>img {
    position: relative;
    width: 12.6rem;
    height: 12.6rem;
    border-radius: 50%;
    overflow: hidden;
    left: -1px;
    bottom: -8px;
}


/* Medias queries -----> small */
@media screen and (max-width:320px) {

    .home__social,
    .home__img {
        margin: 0;
        border:1px solid  #d302a5;
    }
    .home__social-profile {
        margin: var(--m-8) 0;
    }
    
    .home__social-profile-content {
        text-align: center;
        width: 250px;
    }

    .home__img {
        padding: 0;
        width: 240px;
    }

    .home__frame {
        width: 10rem;
        height: 10rem;
    }

    .home__frame-img>img {
        width: 9.5rem;
        height: 9.5rem;
        left: -3px;
        bottom: -5px;
    }

}

/*------------ MEDIA QUERIES Medium devise and Large devise------------*/
@media (min-width: 599px) and (max-width: 1023px) {
    .home__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 18.75rem;
    }

    .home__frame {
        width: 15.5rem;
        height: 15.5rem;
        animation: animate 15s linear infinite;
    }
    .home__frame-img>img {
        width: 15rem;
        height: 15rem;
        left: 1px;
        bottom: -5px;
    }
    .home__social {
        margin: var(--m-32) ;
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@media screen and (min-width: 1024px) {

    .home__social-profile,
    .home__img {
        display: flex;
    }
    .home__social-profile-content{
        justify-content: left;
        width: 320px;
    }

    .home__social-profile {
        justify-content: space-between;
        align-content: center;
    }

    .home__social {
        width: var(--m-40);
        margin-right: var(--m-16);
        margin-left: 0;
        justify-items: self-start;
    }


    .icon__social:hover {
        color: var(--color_second);
    }

    .home__img {
        flex-direction: column;
        justify-content: center;
        width: 18.75rem;
    }

    .home__frame {
        width: 16.875rem;
        height: 16.875rem;
        animation: animate 15s linear infinite;
    }

    .home__frame-img>img {
        width: 16.5625rem;
        height: 16.5625rem;
        left: 2px;
        bottom: -4px;
    }

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}