.option__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 4rem;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        height: inherit;
        width: 100%;
    }
    .nav__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: inherit;
        margin-top:1rem;
        align-items: center;
        width: 25%; 
    }
    .nav__link {
        color: var(--color_icon_inactive);
        text-align: center;
    }
    .nav__icon {
        font-size: var(--m-24);
    }
    
    .nav__name {
        font-size: 0.875rem;
        font-weight: 200;
    }
    
    .router-link-exact-active {
        color: var(--color_primary);
        transition: .3s;
    }
    /*------------ MEDIA QUERIES Medium devise and Large devise------------*/
@media (min-width: 599px) and (max-width: 1023px) {
    .nav__list {
        display: flex;
    }

    .nav__icon {
        display: none;
    }
    .option__nav{
        height: inherit;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        top: 4rem;
        margin: 0;
        padding: 0;
    }
    .nav__link {
        display: flex;
        flex-direction: row;
        width: 14rem;
        height: 4rem;
    }

    .nav__name {
        font-size: var(--m-32);
        line-height: var(--m-20);
        font-weight: bold;
        text-align: center;
    }

    .router-link-exact-active {
        color: var(--color_second_dark);
        border-bottom: 1px solid var(--color_primary_light);
        transition: .5s;
    }
}
/*------------ MEDIA QUERIES:Extra large devise ------------*/
@media screen and (min-width: 1024px) {
    .option__nav {
        height: inherit;
    }
    .nav__icon {
        display: none;
    }
    .nav__list{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height:inherit;
        padding: 0;
        margin: 0;
        align-items: center;
    }
    .nav__link {
        width: 7rem;
        height: 100%;
        padding:0;
        margin: 0;
    }

    .nav__name {
        font-size: var(--m-20);
        line-height: var(--m-20);
        text-align: center;
        font-weight: 700;
    }

    .router-link-exact-active {
        height: 4rem;
        background: var(--color_second);
        color: var(--header_dark);
        transition: .5s;
    }

}
