.about__header,
.about__presentation {
    display: flex;
}
.about__container{
    height: 100vh;
}

.about__presentation{
    flex-direction:column;
    justify-items: center;
}

.about__header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
span{
    display: inline-block;
}
span > p{
    color: var(--color_font);
    text-align: justify;
    margin: var(--m-12) var(--m-16);
}
.about__buttons{
    text-align: center;
    margin: 1rem 1rem 2rem;
}
.button{
    display: inline-block;
    background-color: var(--color_primary);
    color: var(--color_second_light);
    padding: 16px;
    border-radius: 8px;
    width: 200px;
    height: 60px;
}
.text_buttons{
    color: var(--body_dark);
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}
.button:hover{
    background-color: var(--color_second_dark);
}
.info_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button__icon{
    font-size: var(--m-24);
    margin-left: var(--m-0-5);
    transition: .3s;
    color: var(--body_dark);
}
.button--flex{
    display: inline-flex;
    align-items: center;
}

@media (min-width: 599px) and (max-width: 1023px) {
    .about__header {
        margin-bottom: 16px;
        margin-top: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .about__header {
        margin-bottom: 32px;
        margin-top: 24px;
    }

}